
@model Common.Tourflowsvc.Category[]


@{
    ViewBag.Title = "Car Search Result";
    var counter = 1;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style type="text/css">
    .hotel-map-label {
        color: #29abe2;
        font-weight: bold;
        border-style: solid;
        border-color: #ffffff;
        background-color: #ffffff;
        padding-left: 2px;
        padding-right: 2px;
    }
</style>

<h1>Car Search Result</h1>


@if ((Model.Length > 0))
{
    <div>
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk&sensor=false">



        </script>
        <script type="text/javascript">
             $(document)
                 .ready(function() {
                     var lat = @ViewBag.LatOrg;
                     var lon = @ViewBag.LanOrg;
                     var myLatlng = new google.maps
                         .LatLng(lat, lon) // This is used to center the map to show our markers
                     var mapOptions = {
                         center: myLatlng,
                         zoom: 6,
                         mapTypeId: google.maps.MapTypeId.ROADMAP,
                         marker: true
                     };
                     var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                     var marker = new google.maps.Marker({
                         position: myLatlng
                     });
                     marker.setMap(map);
                 });

        </script>
    </div>

    <table width="100%" style="padding: 0px 0px 0px 0px">
        <tr>
            <td style="width: 75%;vertical-align: top">
                <div style="font-size: 12px;">

                    <table width="100%">
                        @foreach (var details in Model)
                        {
                            <tr style="border: solid; padding: 0px;" class="iterateCar" >
                                <td style="width: 10%"></td>
                                <td style="width: 5%"></td>
                                <td style="width: 75%">
                                    <table style="text-align: left; border-style: none; border-width: 0px;" width="100%">
                                        <tr>
                                            <td colspan="3">
                                                <b>@details.categoryName</b>
                                            </td>
                                        </tr>
                                        @foreach (var activity in details.Activities)
                                        {
                                            <tr>
                                                <td>

                                                    <b>@activity.activityId @activity.name - @activity.Location @activity.starsLevel</b>
                                                    <p>@activity.description</p>

                                                </td>
                                                <td>

                                                    <img src="@activity.thumbURL"/>

                                                </td>
                                                <td>
                                                    @activity.
                                                </td>
                                                <td style="text-align: right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <p><b>>Child ages from:</b></p>
                                                            </td>
                                                            <td>@activity.minChildAge - @activity.maxChildAge</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <p class="glyphicon glyphicon-briefcase" style="color: lightgray; font-size: 20px"></p>
                                                            </td>
                                                            <td>@activity.bestValue @activity.currency @activity.provider</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            foreach (var option in activity.ActivityOptions)
                                            {
                                                <tr>
                                                    <td>

                                                        <table>
                                                            <tr>
                                                                <td>

                                                                    <b>@option.optionId @option.name - @option.type</b>
                                                                    <p>@option.typeDescription</p>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <p class="glyphicon glyphicon-user" style="color: lightgray; font-size: 20px"><b>Passengers:</b></p>
                                                                </td>
                                                                <td>@option.adults Adults and @option.children Children</td>
                                                            </tr>
                                                        </table>

                                                    </td>

                                                </tr>
                                                foreach (var availability in option.Availabilities)
                                                {
                                                    <tr>
                                                        <td>

                                                            <table>
                                                                <tr>
                                                                    <td>

                                                                        <b>Adult price: </b>
                                                                        <p>@availability.adultPrice</p>
                                                                        <b>Child price: </b>
                                                                        <p>@availability.childPrice</p>
                                                                        <b>Unit price: </b>
                                                                        <p>@availability.unitPrice</p>
                                                                        <p>@availability.fromDate - @availability.toDate</p>
                                                                        <b>Max units: </b>
                                                                        <p>@availability.maxUnits</p>
                                                                        <b>Maximum passengers: </b>
                                                                        <p>@availability.maxAdults Adults and @availability.maxChildren Children</p>
                                                                       </td>
                                                                </tr>
                                                              
                                                            </table>

                                                        </td>

                                                    </tr>

                                                }
                                            }
                                        }

                                        
                                    </table>
                                </td>
                                
                            </tr>
                                                    }
                    </table>
                </div>
            </td>
        </tr>

    </table>

                                                    }
                                                    else
                                                    {
                                                        <p style="color: red; font-size: 15px;">No record found </p>
                                                    }

<style type="text/css">
    .rcorners {
        border-radius: 7px;
        border: 2px solid #73AD21;
    }
</style>


<script>
    var filterList = [];

    function GetFilteredCars(e, type) {

        var isExist,
            index;

        // identity whether it is there already in our filter
        // array of not
        isExist = $.grep(filterList,
            function(filter) {
                return filter.Value === e.value && filter.Type === type;
            });

        // if it is checked then push it to the filter array
        // else remove it from the filter
        if (e.checked) {
            if (!isExist || isExist.length === 0) {
                filterList.push({ 'Type': type, "Value": e.value });
            }
        } else {
            if (isExist || isExist.length > 0) {
                // find the index of an item and
                // remove it from the array
                index = filterList.indexOf(isExist[0]);
                filterList.splice(index, 1);
            }
        }
        // start apply filter
        applyFilter();
    }

    function applyFilter() {
        var filterValues;
        //identitfy we have a filter inputs
        if (filterList.length > 0) {
            var companiesList = [],
                carsList = [];

            companiesList = $.map($.grep(filterList,
                    function(filter) {
                        return filter.Type === "Company";
                    }),
                function(val) { return val.Value; });

            carsList = $.map($.grep(filterList,
                    function(filter) {
                        return filter.Type === "Car";
                    }),
                function(val) { return val.Value; });

            $.each($('.iterateCar'),
                function(index, tr) {

                    // check both company name and car type is matching
                    if (((companiesList && companiesList.length > 0)
                        ? companiesList.indexOf($(tr).attr('data-companyNameKeyword')) > -1
                        : true) &&
                        ((carsList && carsList.length > 0)
                        ? carsList.indexOf($(tr).attr('data-carTypeKeyword')) > -1
                        : true)) {
                        $(tr).show();
                    } else {
                        $(tr).hide();
                    }
                });
        } else {
            // if no filter got applied show everything
            $('.iterateCar').show();
        }
    }
</script>