@model TE.Core.ServiceCatalogues.HotelCatalog.Provider.HotelPropertyProviderRes
@using TE.ThirdPartyProviders.Tourico.TouricoHotelSvc
@{
    ViewBag.Title = "Index";
}


<h2>Hotel Property Details</h2>
<div style="background-color:white; padding:10px; margin:10px; font-size:12px;">
    @if (@Model.HotelInfo != null)
    {
        <table>
            <tr>
                <td>
                    <h1>@Model.HotelInfo.HotelName</h1>
                </td>
                <td>                    
                        @for (var i = 0; i <= Model.HotelInfo.Rating; i++)
                        {
                            <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:orange; font-size:20px;"></span>
                        }
                </td>
                <td align="right"><b>Check-In Time: </b>@ViewBag.StartDate</td>
            </tr>
            <tr>
                <td colspan="2">
                    @{
                        var hotelAddress = string.Empty;

                        hotelAddress += Model.HotelInfo.Address.Address1 + ", ";
                        hotelAddress += Model.HotelInfo.Address.City + ", ";
                        hotelAddress += Model.HotelInfo.Address.Zip;                       
                     }    
                    
                    @hotelAddress
                </td>
                <td align="right"><b>Check-Out Time: </b>@ViewBag.EndDate</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" style="font-size:20px;"></span>
                        @Model.HotelInfo.PhoneNumber  , @Model.HotelDetails.HotelFaxNumber
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                  
                    @*@{
        var awards = string.Empty;
        if (@Model.RoomStay.BasicPropertyInfo.Awards != null && @Model.RoomStay.BasicPropertyInfo.Awards.Count() > 0)
        {
            foreach (var award in @Model.RoomStay.BasicPropertyInfo.Awards)
            {
                awards += award + ", ";
            }
        }
        <b>Awarded By: </b> @awards
                    }*@

                </td>
            </tr>
        </table>
        <table width="80%">
            <tr>
                <td></td>  
                <td><b><u>Description:</u></b></td>
                <td><b><u>Options Info:</u></b></td>
            </tr>
            <tr>
                <td>
                    <img src=@Model.HotelInfo.HeroImageUrl  style="width:250px; height:250px;" />
                </td>
                <td>
                    <div style="overflow:auto; max-height:250px; max-width:400px;">
                        @Model.HotelInfo.Description

                    </div>
                </td>
                <td>
                    <div style="overflow:auto; max-height:250px; max-width:250px;">
                     @{
                            foreach (var t in Model.HotelDetails.MiscellaneousServices)
                            {
                                <b>@t</b><span></span><br />
                            }
                        }
              </div>
                </td>
               
            </tr> 
            <tr>
                <td colspan="3">
                    <table width="100%">
                        <tr>
                            <td width="70%"><b><u>Available Service in Hotel:</u></b></td>
                            <td width="30%"><b><u>Direction:</u></b></td>
                        </tr>
                        <tr>
                          
                            <td valign="top">
                                <div style="overflow:auto; max-height:250px;">
                                    @Model.HotelDetails.HotelFacilities[0];
                                    @*<ul>
                                @{
                                    foreach (var fac in Model.RoomStay.BasicPropertyInfo.VendorMessages.Facilities)
                                    {
                                        var message = string.Empty;
                                        foreach (var txt in fac.Text)
                                        {
                                            <li>@txt</li>
                                        }
                                    }
                                }
                                    </ul>*@
                                </div>
                            </td>
                            <td valign="top">
                                <div style="overflow:auto; max-height:250px;">
                                    @Model.HotelDetails.Directions[0]
                                    @*<ul>
                @{
                if (Model.RoomStay.BasicPropertyInfo.VendorMessages.Directions != null)
                {
                    foreach (var dir in Model.RoomStay.BasicPropertyInfo.VendorMessages.Directions)
                    {
                        var message = string.Empty;
                        foreach (var txt in dir.Text)
                        {
                            <li>@txt</li>
                        }
                    }
                }
                }
                    </ul>*@
                                </div>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table width="100%">
                        <tr>
                            <td width="70%"><b><u>Sport/Entertainment:</u></b></td>
                            <td width="30%"><b><u>Dining:</u></b></td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <div style="overflow:auto; max-height:250px; max-width:400px;">
                                    @Model.HotelDetails.HotelRecreationServices[0];
                                    <ul>
                                        @*@{
                                            foreach (var attractions in Model.RoomStay.BasicPropertyInfo.VendorMessages.Attractions)
                                            {
                                                string attr = string.Empty;
                                                foreach (var txt in attractions.Text)
                                                {
                                                    <li> @txt</li>
                                                }                                                                                                                
                                            }
                                        }*@
                                    </ul>

                                </div>

                            </td>
                            <td valign="top">
                                <div style="overflow:auto; max-height:250px; max-width:400px;">   
                                    @Model.HotelDetails.DiningDetails[0];                            
                                   
                                </div>
                            </td>                           
                        </tr>
                    </table>
                </td>
            </tr>  
         
            <tr>
                <td colspan="3">
                    <b><u>Available Rooms</u></b>
                </td>
            </tr>
            <tr>                                   
                                        <td width="40%" nowrap style="padding:3px;">
                                            Room Type
                                        </td>
                                        <td nowrap width="25%" style="padding:3px">
                                            Status
                                        </td>
                                        <td nowrap style="padding:3px">
                                            <tpl if="CallToBook == false">
                                                Avg. Rate
                                            </tpl>
                                        </td>
                                        <td width="10px">
                                            <div style="width:10px"></div>
                                        </td>     
                
                @if(ViewBag.RoomTypes!=null)
                {

                    RoomType[] rmType = (RoomType[])ViewBag.RoomTypes;

                }

                @*<td colspan="3">
                    @if (Model.RoomStay.RoomRates != null)
                    { 
                        <table width="100%">
                       <tr>
                           <th width="40%">Room Types</th>
                           <th>Room Code</th>
                           <th>Base Price</th>
                           <th></th>
                       </tr>
                       <tr>
                           <td colspan="4"><hr /></td>
                       </tr>
                       @{
                           foreach(var rate in Model.RoomStay.RoomRates.RoomRate)
                           {
                               if(rate.RPH != null )
                               { 
                               <tr>                                   
                                   <td>   
                                       @{ var name = string.Empty; int counter = 0; }                                 
                                        @foreach(var desc in rate.AdditionalInfo.Text){
                                            if (counter == 0)
                                            { 
                                                <p><b>@desc</b></p>
                                                counter += 1;
                                            }  
                                            else
                                            {
                                                <span style="font-size:10px;">@desc</span>
                                            }        
                                        }
                                       @name                                               
                                   </td>
                                   <td>
                                       @rate.IATA_CharacteristicIdentification
                                   </td>
                                   <td>
                                       @{ 
                                           var totalAmount = string.Empty;
                                           foreach(var rte in rate.Rates)
                                           {
                                               totalAmount = rte.CurrencyCode + " " + rte.Amount;
                                           }
                                        }
                                       @using (Html.BeginForm("Index", ""))
                                       {
                                        @Html.ActionLink(totalAmount, "Index", "PriceBreakup", new { @startDate = @Model.RoomStay.TimeSpan.Start,
                                                                                                     @endDate = @Model.RoomStay.TimeSpan.End,
                                                                                                     @totalTravellers = @ViewBag.TotalTravellers,
                                                                                                     @hotelCode = @Model.RoomStay.BasicPropertyInfo.HotelCode,
                                                                                                     @propertyRphNumber = @rate.RPH}, null) 
                                       }
                                       
                                   </td>
                                   <td>
                                       @rate.IATA_ProductIdentification
                                   </td>
                                   <td>
                                       @using (Html.BeginForm("Index", "HotelBook"))
                                       {
                                        <input type="hidden" name="startDate" value="@Model.RoomStay.TimeSpan.Start" />
                                        <input type="hidden" name="endDate" value="@Model.RoomStay.TimeSpan.End" />
                                        <input type="hidden" name="totalTravellers" value="@ViewBag.TotalTravellers" />
                                        <input type="hidden" name="hotelCode" value="@Model.RoomStay.BasicPropertyInfo.HotelCode"/>
                                        <input type="hidden" name="propertyRphNumber" value="@rate.RPH" />
                                           <button type="submit" class="btn btn-success">Book</button>
                                       }
                                   </td>
                               </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td colspan="4" valign="baseline">
                                        <b>CancelPolicy:</b> Cancellation should be made  @rate.AdditionalInfo.CancelPolicy.Numeric @rate.AdditionalInfo.CancelPolicy.Option before check-In date.
                                    </td>
                                </tr>
                               <tr>
                                 <td colspan="4"><hr /></td>
                               </tr>
                               }
                           }                           
                       }
                    
                   </table>
                    }
                    else
                    {
                        <p style="color:red; font-size:15px;">No room available</p>
                    }
                </td>*@
            </tr>  
            <tr>
                <td colspan="3">
                    <hr />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table width="100%">
                        <tr>
                            <td width="70%"><b><u>Payment Policy:</u></b></td>
                            <td width="30%"><b><u>Cancellation Policy:</u></b></td>
                        </tr>
                        <tr>
                            <td valign="top">
                            @if (@Model.HotelDetails.DepositPolicies.Count > 0)
                            {
                                <div style="overflow:auto; max-height:250px;">
                               
                                    @Model.HotelDetails.DepositPolicies[0]
                                  
                                    @*@if (Model.RoomStay.BasicPropertyInfo.VendorMessages.Deposit != null)
                                    { 
                                    <ul>
                                        @{
                                            foreach (var deposite in Model.RoomStay.BasicPropertyInfo.VendorMessages.Deposit)
                                            {
                                                var message = string.Empty;
                                                foreach (var txt in deposite.Text)
                                                {
                                                    <li> @txt</li>
                                                }                 
                                            }
                                        }
                                    </ul>
                                    }*@
                                </div>
                            }
                            </td>
                            <td valign="top">
                                @*<div style="overflow:auto; max-height:250px;">
                                    <ul>
                                    @{
                                        foreach (var cancel in Model.RoomStay.BasicPropertyInfo.VendorMessages.Cancellation)
                                        {
                                            var message = string.Empty;
                                            foreach (var txt in cancel.Text)
                                            {
                                                <li> @txt</li>
                                            }
                                        }
                                    }
                                 </ul>
                                </div>*@
                            </td>

                        </tr>
                    </table>                    
                </td>
            </tr>      
            <tr>
                <td colspan="3">
                    <table width="100%">
                        <tr>
                            <td width="50%"><b><u>Rooms Descriptions:</u></b></td>
                        </tr>
                        <tr>
                            <td>
                                <div style="overflow:auto; max-height:250px;">
                                    @Model.HotelDetails.HotelRoomServices[0]
                                    @*<ul>
    @{
        foreach (var room in Model.RoomStay.BasicPropertyInfo.VendorMessages.Rooms)
        {
            var message = string.Empty;
            foreach (var txt in room.Text)
            {
               <li>@txt</li>
            }
        }
    }
        </ul>*@
                                </div>
                            </td>
                        </tr>
                    </table>
                    </td>
                </tr>
        </table>
    }
    else
    {
        <h1><p style="color:red;">No record found.</p></h1>
    }



</div>