@model UI.Models.CarSearchModel

@{
    ViewBag.Title = "Car Search Result";
    var counter = 1;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style type="text/css">
    .hotel-map-label {
        color: #29abe2;
        font-weight: bold;
        border-style: solid;
        border-color: #ffffff;
        background-color: #ffffff;
        padding-left: 2px;
        padding-right: 2px;
    }
</style>

<h1>Car Programs Found</h1>


@if (Model.searchCarInfo.RouteOptions.First().ProgramList.CarProgram.Length > 0)
{
    <div>
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk&sensor=false">



        </script>
        <script type="text/javascript">
             $(document)
                 .ready(function() {
                     var lat = @ViewBag.LatOrg;
                     var lon = @ViewBag.LanOrg;
                     var myLatlng = new google.maps
                         .LatLng(lat, lon) // This is used to center the map to show our markers
                     var mapOptions = {
                         center: myLatlng,
                         zoom: 6,
                         mapTypeId: google.maps.MapTypeId.ROADMAP,
                         marker: true
                     };
                     var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                     var marker = new google.maps.Marker({
                         position: myLatlng
                     });
                     marker.setMap(map);
                 });

        </script>
    </div>
        <table width="100%" style="padding: 0px 0px 0px 0px">
            <tr>
                <td style="width: 5%">
                    <img src="@Model.searchCarInfo.carThumb" name="carThumbImage" style="width: 150px; height: 150px;" />
                </td>
                <td style="width: 65%">
                    <table width="100%">
                        <tr>
                            <td style="font-size: 20px">
                                Car Company Name: @Model.searchCarInfo.carCompanyName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                PickUp Address: @Model.searchCarInfo.RouteOptions.First().RouteStations.PickUpStation.address , @Model.searchCarInfo.RouteOptions.First().RouteStations.PickUpStation.name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Drop Address: @Model.searchCarInfo.RouteOptions.First().RouteStations.DropOffStation.address , @Model.searchCarInfo.RouteOptions.First().RouteStations.DropOffStation.name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Phone: @Model.searchCarInfo.RouteOptions.First().RouteStations.PickUpStation.phone
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 30%"></td>
            </tr>
        </table>
        <table width="100%" style="padding: 0px 0px 0px 0px">
            <tr>
                <td style="width: 100%">
                    <div style="font-size: 12px;">

                        @foreach (var details in Model.searchCarInfo.RouteOptions.First().ProgramList.CarProgram)
                        {

                            <table width="100%" style="border-bottom: 1px gray solid">
                                <tr>
                                    @*<td style="width: 10%"><img src="@Model.carThumb" style="width: 150px; height: 150px;" /></td>*@
                                    <td style="width: 5%"></td>
                                    <td style="width: 75%">
                                        <table style="text-align: left; border-style: none; border-width: 0px;" width="100%">
                                            <tr>
                                                <td colspan="3">
                                                    <b> Car Program Name: @details.name</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b> Total Price: @(details.price + details.tax)</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="width: 20%; padding-right: 0px;">
                                        <table>
                                            <tr>
                                                <td>Price: @details.price</td>
                                            </tr>
                                            <tr>
                                                <td>Tax: @details.tax</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    Currency : @details.currency
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    @using (Html.BeginForm("BookCar", "Car"))
                                                    {
                                                        <button type="submit" class="btn btn-warning" style="width: 150px">Book</button>
                                                        <input type="hidden" id="productId" name="programId" value="@details.id" />
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td width="5%">&nbsp;</td>
                                    <td colspan="1">
                                        @*<p><b>Phone: </b>@details.BasicPropertyInfo.ContactNumbers.ContactNumber.Phone  <b>Fax: </b>@details.BasicPropertyInfo.ContactNumbers.ContactNumber.Fax</p>*@
                                    </td>
                                    <td>
                                        <input type="hidden" name="checkIn" value="@ViewBag.checkIn" />
                                        <input type="hidden" name="checkOut" value="@ViewBag.checkOut" />
                                        <input type="hidden" name="totalTravellers" value="@ViewBag.TotalTravellers" />
                                        <input type="hidden" name="CarId" value="@details.name" />
                                        <input type="hidden" name="LatOrg" value="@ViewBag.LatOrg" />
                                        <input type="hidden" name="LanOrg" value="@ViewBag.LanOrg" />
                                        <input type="hidden" name="Lat" value="@ViewBag.Lat" />
                                        <input type="hidden" name="Lan" value="@ViewBag.Lan" />
                                        <input type="hidden" name="radius" value="@ViewBag.radius" />
                                        <input type="hidden" name="totalRooms" value="@ViewBag.TotalRooms" />
                                        @*<input type="text" name="totalGuests" value="@ViewBag.totalTravellers" />*@
                                    </td>

                                </tr>
                            </table>
                        }
                    </div>
                </td>
            </tr>

        </table>
        <table width="100%" style="padding: 0px 0px 0px 0px">
            <tr>
                <td>
                    <h1>Rules and Restrictions: </h1>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="font-size: 12px;">

                        @foreach (var rule in Model.companyrules.Rule)
                        {
                            <table width="100%">
                                <tr>
                                    <td style="width: 100%">
                                        <b>@rule.title: </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%">
                                        @rule.Value
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </td>
            </tr>
        </table>
}
else
{
    <p style="color: red; font-size: 15px;">No record found </p>
}

<style type="text/css">
    .rcorners {
        border-radius: 7px;
        border: 2px solid #73AD21;
    }
</style>
