<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <table width="75%" align="center">
        <tr>
            <td>
                <a href='@Url.Action("Index", "Home")    '>
                    <img src="~/Images/travel-edge-adx-small.png" alt="Home Page" />
                </a>
            </td>
            <td align="right" style="font-size:14px;">                
             @{
                 if (User.Identity.Name != string.Empty)
                 {
                    <span> Welcome </span><b>@User.Identity.Name</b> @Html.ActionLink("[Log out]", "LogOut", "Account", null, null)
                 }
            }   
                
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @RenderSection("featured", required: false)
                @RenderBody()
            </td>
        </tr>
    </table>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
